Source/Web/Service References/NationalCriminalsWebService/PersonWebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonSearchParametersDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgeFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AgeTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HeightFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HeightTo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="tns:SexDto" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WeightFrom" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="WeightTo" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonSearchParametersDto" nillable="true" type="tns:PersonSearchParametersDto" />
  <xs:simpleType name="SexDto">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:element name="SexDto" nillable="true" type="tns:SexDto" />
</xs:schema>